{% include "head.html" %} {% include "navbar.html" %}

<head>
    {% block head %}{% endblock %}

</head>

<body>

    <main>

        <h1>Main</h1>
        <div class="weight-entry card vertical-center">
            <form action="">
                <div class="item">
                    <label id="label" for="weightValue floaty">Weight:</label>
                </div>
                <div class="item">
                    <input id="value" class="" type="text" id="weightValue" name="weightValue" placeholder="00.00">
                </div>
                <div class="item">
                    <input id="" class="button" preventDefault(); type="submit" value="+">
                </div>
            </form>
        </div>
    </main>
</body>