{% include "head.html" %} {% include "navbar.html" %} {% include 'weightEntry.html' %}

<head>
    {% block head %}{% endblock %}

    <link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
</head>

<body>
    <main>
        {% block weightEntry %} {% endblock weightEntry %}

        <div id="tester"></div>
        <div id="debug"></div>

        <script>
            $(document).ready(function() {

                DEBUG = document.getElementById('debug')

                $.ajax({
                    type: "GET",
                    url: "http://192.168.1.63:8080/api/json/lastfifty",
                    dataType: 'json',
                    success: function(data) {
                        plotInit(getPlotData(data))
                        console.log(data)
                        fillTable(data)
                        $('#table').DataTable();
                    },
                    error: function(error) {
                        console.log("Here is the error res: " + JSON.stringify(error));
                    }
                });
            });

            function getJson() {
                fetch('http://192.168.1.63:8080/api/json/lastfifty').then(function(response) {
                    // The API call was successful!
                    return response.json();
                }).then(function(data) {
                    // This is the JSON from our response
                    console.log(data);
                }).catch(function(err) {
                    // There was an error
                    console.warn('Something went wrong.', err);
                });

            }


            function getPlotData() {
                let data = [{
                    "id": 500,
                    "timestamp": 1587466538,
                    "weight": 67.84
                }, {
                    "id": 499,
                    "timestamp": 1590199288,
                    "weight": 81.41
                }, {
                    "id": 498,
                    "timestamp": 1582963896,
                    "weight": 76.48
                }, {
                    "id": 497,
                    "timestamp": 1581740834,
                    "weight": 66.95
                }, {
                    "id": 496,
                    "timestamp": 1583806634,
                    "weight": 74.88
                }, {
                    "id": 495,
                    "timestamp": 1590430425,
                    "weight": 70.48
                }, {
                    "id": 494,
                    "timestamp": 1590996312,
                    "weight": 79.37
                }, {
                    "id": 493,
                    "timestamp": 1582525761,
                    "weight": 79.36
                }, {
                    "id": 492,
                    "timestamp": 1584067276,
                    "weight": 69.22
                }, {
                    "id": 491,
                    "timestamp": 1581004462,
                    "weight": 84.07
                }, {
                    "id": 490,
                    "timestamp": 1589640547,
                    "weight": 76.52
                }, {
                    "id": 489,
                    "timestamp": 1578489738,
                    "weight": 79.81
                }, {
                    "id": 488,
                    "timestamp": 1588067246,
                    "weight": 70.34
                }, {
                    "id": 487,
                    "timestamp": 1583928239,
                    "weight": 75.29
                }, {
                    "id": 486,
                    "timestamp": 1580674524,
                    "weight": 84.45
                }, {
                    "id": 485,
                    "timestamp": 1588237871,
                    "weight": 74.8
                }, {
                    "id": 484,
                    "timestamp": 1579794286,
                    "weight": 84.57
                }, {
                    "id": 483,
                    "timestamp": 1590443700,
                    "weight": 76.66
                }, {
                    "id": 482,
                    "timestamp": 1579462672,
                    "weight": 82.04
                }, {
                    "id": 481,
                    "timestamp": 1578648588,
                    "weight": 73.32
                }, {
                    "id": 480,
                    "timestamp": 1587797217,
                    "weight": 70.38
                }, {
                    "id": 479,
                    "timestamp": 1578245272,
                    "weight": 69.94
                }, {
                    "id": 478,
                    "timestamp": 1591400493,
                    "weight": 69.9
                }, {
                    "id": 477,
                    "timestamp": 1585250084,
                    "weight": 81.8
                }, {
                    "id": 476,
                    "timestamp": 1581568203,
                    "weight": 75.77
                }, {
                    "id": 475,
                    "timestamp": 1580862622,
                    "weight": 77.24
                }, {
                    "id": 474,
                    "timestamp": 1578804040,
                    "weight": 67.88
                }, {
                    "id": 473,
                    "timestamp": 1586146142,
                    "weight": 70.4
                }, {
                    "id": 472,
                    "timestamp": 1582096621,
                    "weight": 65.36
                }, {
                    "id": 471,
                    "timestamp": 1591170999,
                    "weight": 82.14
                }, {
                    "id": 470,
                    "timestamp": 1578342655,
                    "weight": 77.59
                }, {
                    "id": 469,
                    "timestamp": 1578673893,
                    "weight": 70.46
                }, {
                    "id": 468,
                    "timestamp": 1590398789,
                    "weight": 82.27
                }, {
                    "id": 467,
                    "timestamp": 1586209380,
                    "weight": 65.58
                }, {
                    "id": 466,
                    "timestamp": 1583130120,
                    "weight": 77.28
                }, {
                    "id": 465,
                    "timestamp": 1587468052,
                    "weight": 71.11
                }, {
                    "id": 464,
                    "timestamp": 1589495485,
                    "weight": 82.91
                }, {
                    "id": 463,
                    "timestamp": 1582663838,
                    "weight": 73.04
                }, {
                    "id": 462,
                    "timestamp": 1579377626,
                    "weight": 74.99
                }, {
                    "id": 461,
                    "timestamp": 1586462261,
                    "weight": 69.63
                }, {
                    "id": 460,
                    "timestamp": 1587213123,
                    "weight": 75.01
                }, {
                    "id": 459,
                    "timestamp": 1581842265,
                    "weight": 66.61
                }, {
                    "id": 458,
                    "timestamp": 1579415195,
                    "weight": 77.09
                }, {
                    "id": 457,
                    "timestamp": 1580637060,
                    "weight": 77.76
                }, {
                    "id": 456,
                    "timestamp": 1579436582,
                    "weight": 74.32
                }, {
                    "id": 455,
                    "timestamp": 1588234578,
                    "weight": 73.23
                }, {
                    "id": 454,
                    "timestamp": 1581605256,
                    "weight": 70.65
                }, {
                    "id": 453,
                    "timestamp": 1588873398,
                    "weight": 75.5
                }, {
                    "id": 452,
                    "timestamp": 1577867077,
                    "weight": 82.01
                }, {
                    "id": 451,
                    "timestamp": 1582918561,
                    "weight": 73.08
                }]
                let lenght = data.lenght
                var i;
                let arr = new Array(lenght)
                for (i = 0; i < lenght; i++) {
                    arr[i] = {
                        "weight": data[i]['weight'],
                        "date": new Date(data[i]['timestamp'] * 1000)
                    }
                }
                return arr
            }

            function getWeights(data) {
                var i;
                let arr = Array(10)
                for (i = 0; i < data.length; i++) {
                    arr[i] = data[i]['weight']
                }
                return arr
            }

            function getTimestamps(data) {
                var i;
                let arr = Array(10)
                for (i = 0; i < data.length; i++) {
                    arr[i] = new Date(data[i]['timestamp'] * 1000)
                }
                return arr
            }

            function plotInit(data) {
                TESTER = document.getElementById('tester');
                Plotly.newPlot(TESTER, [{
                    x: getTimestamps(data),
                    y: [1, 2, 3, 4, 5]
                }], {
                    margin: {
                        t: 0
                    }
                });
            }

            function fillTable(response) {
                $.each(response, function(i, item) {
                    var $tr = $('#table').append(
                        '<tr id="table"> \
                <td>' + (item.id) + '</td> \
                <td>' + (item.weight) + " kg" + '</td> \
                <td>' + (item.timestamp) + '</td> \
                </tr>'
                    ).appendTo('#table');
                });
            }
        </script>
        {% block navbar %} {% endblock navbar %}
    </main>

    <script>
        $(document).ready(function() {

        });
    </script>
</body>