{% block navbar %}
<nav class="navbar">
    <ul class="navbar-nav">
        <li class="logo">
            <a href="{{ url_for('index') }}" class="nav-link">
                <!-- <span class="link-text logo-text">Home</span> -->
                <img src="{{ url_for('static', filename='main.svg') }}" alt="" srcset="">
            </a>
        </li>

        <li class="logo">
            <a href="{{ url_for('dataCenter') }}" class="nav-link">
                <!-- <span class="link-text logo-text">Data Center</span> -->
                <img src="{{ url_for('static', filename='data-server.svg') }}" alt="" srcset="">
            </a>
        </li>

        <li class="logo">
            <a href="{{ url_for('options') }}" class="nav-link">
                <!-- <span class="link-text logo-text">Options</span> -->
                <img src="{{ url_for('static', filename='options.svg') }}" alt="" srcset="">
            </a>
        </li>

        <li class="logo">
            <a href="{{ url_for('about') }}" class="nav-link">
                <!-- <span class="link-text logo-text">About</span> -->
                <img src="{{ url_for('static', filename='info.svg') }}" alt="" srcset="">
            </a>
        </li>

        <li class="logo">
            <a href="{{ url_for('analytics') }}" class="nav-link">
                <!-- <span class="link-text logo-text">About</span> -->
                <img src="{{ url_for('static', filename='data-server.svg') }}" alt="" srcset="">
            </a>
        </li>

        <!-- More nav links here -->

    </ul>
</nav>
{% endblock navbar %}