{% block navbar %}
<nav class="navbar" style="z-index: 10;">
    <ul class="navbar-nav">
        <li class="logo">
            <a href="{{ url_for('index') }}" class="nav-link">
                <img src="{{ url_for('static', filename='main.svg') }}" alt="" srcset="">
            </a>
        </li>

        <!-- <li class="logo">
            <a href="{{ url_for('dataCenter') }}" class="nav-link">
                <img src="{{ url_for('static', filename='data-server.svg') }}" alt="" srcset="">
            </a>
        </li> -->

        <!-- <li class="logo">
            <a href="{{ url_for('options') }}" class="nav-link">
                <img src="{{ url_for('static', filename='options.svg') }}" alt="" srcset="">
            </a>
        </li>

        <li class="logo">
            <a href="{{ url_for('about') }}" class="nav-link">
                <img src="{{ url_for('static', filename='info.svg') }}" alt="" srcset="">
            </a>
        </li> -->

        <li class="logo">
            <a href="{{ url_for('analytics') }}" class="nav-link">
                <img src="{{ url_for('static', filename='data-server.svg') }}" alt="" srcset="">
            </a>
        </li>

    </ul>
</nav>
{% endblock navbar %}